<div class="bg-color-gray-dark-low relative z-20">
  <div class="custom-container">
    <div class="menu flex relative items-center">
      <nav
        id="menu_ul"
        class="flex items-center leading-[52px] text-color-gray-dark [&>a]:transition-all [&>a]:px-[15px] [&>a:first-child]:pl-[0] [&>a:last-child]:pr-[0] [&>a:hover]:text-black whitespace-nowrap justify-between w-[100%]"
      >
        <a href="#politics">პოლიტიკა</a>
        <a href="#public">საზოგადოება</a>
        <a href="#covid19">Covid-19</a>
        <a href="#justice">სამართალი</a>
        <a href="#business">ბიზნესი & ეკონომიკა</a>
        <a href="#crime">კრიმინალი</a>
        <a href="#case">შემთხვევა</a>
        <a href="#world">მსოფლიო</a>
        <a href="#sport">სპორტი</a>
        <a href="#religion">რელიგია</a>
        <a href="#art">ხელოვნება</a>
      </nav>
      <div
        href="#"
        id="toggle-links"
        class="more-btn text-color-red-primary after:bg-[url('assets/icons/arrow-down.svg')] after:w-[9px] after:h-[6px] after:inline-block after:bg-no-repeat after:bg-cover after:ml-[4px] cursor-pointer ml-[20px] hidden items-center height-[52px] transition-all"
      >
        მეტი
      </div>
    </div>

    <ul
      class="overflow absolute top-[100%] right-[-30px] min-w-[180px] flex flex-col max-h-[0] overflow-hidden h-auto bg-white px-[16px] rounded-[8px] shadow-[0_0_20px_rgba(0,0,0,0.1)] [&>a]:text-color-gray-dark [&>a:hover]:text-black [&>a]:my-[12px]"
    ></ul>
  </div>
</div>
