<div class="h-[80px] flex items-center">
  <div class="custom-container">
    <div class="flex justify-center items-center">
      <ul class="flex xl:hidden">
        <li class="cursor-pointer mr-[8px]">
          <a href="http://fb.com" target="_blank" rel="noopener noreferrer">
            <img src="assets/icons/facebook.svg" alt="fb icon" />
          </a>
        </li>
        <li class="cursor-pointer mr-[8px]">
          <a
            href="http://twitter.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="assets/icons/twitter.svg" alt="twitter icon" />
          </a>
        </li>
        <li class="cursor-pointer mr-[8px]">
          <a
            href="http://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="assets/icons/instagram.svg" alt="twitter icon" />
          </a>
        </li>
      </ul>

      <a
        href="/"
        class="text-center mx-auto text-[28px] font-semibold text-color-red-primary xl:ml-[0] xl:mr-auto sm:text-[16px]"
        rel="noopener noreferrer"
      >
        Company Logo
      </a>

      <form class="flex items-center">
        <input
          type="search"
          placeholder="ძიება.."
          name="search"
          class="rounded-[10px] bg-color-gray-light h-[48px] px-[16px] py-[12px] w-[304px] pr-[58px] text-color-gray-dark leading-5 2xl:w-[220px] sm:hidden"
        />
        <button
          type="submit"
          class="w-[40px] h-[40px] overflow-hidden ml-[-44px]"
        >
          <img
            src="assets/icons/search-icon.svg"
            alt="search icon"
            class="w-[80px] h-[80px] translate-y-[-20px] object-cover sm:hidden"
          />
          <img
            src="assets/icons/search-icon-mobile.svg"
            alt="search icon"
            class="w-[80px] h-[80px] translate-y-[-20px] object-cover sm-up:hidden"
          />
        </button>
      </form>

      <!-- Mobile navigation component holder -->
      <div id="mobile-navigation" class="xl-up:hidden"></div>
    </div>
  </div>
</div>
