<div class="custom-container">
  <div class="cards-grid">
    <div class="flex flex-col">
      <div class="card">
        <img src="assets/images/Photo-5.webp" alt="card img" />
        <div class="card__texts">
          <div class="flex mb-[8px]">
            <span class="text-[12px] text-color-gray-dark">პოლიტიკა</span>
            <span
              class="text-color-gray-dark text-[12px] ml-[10px] before:content-['\00B7'] before:mr-[6px] before:text-color-gray-dark before:font-bold"
            >
              18.04.2023
            </span>
          </div>
          <div class="font-medium text-[13px] leading-[18px]">
            კიმ ჩენ ინი აშშ-სა და სამხრეთ კორეას ბირთვული იარაღით ემუქრება
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/Photo-4.webp" alt="card img" />
        <div class="card__texts">
          <div class="flex mb-[8px]">
            <span class="text-[12px] text-color-gray-dark">პოლიტიკა</span>
            <span
              class="text-color-gray-dark text-[12px] ml-[10px] before:content-['\00B7'] before:mr-[6px] before:text-color-gray-dark before:font-bold"
            >
              18.04.2023
            </span>
          </div>
          <div class="font-medium text-[13px] leading-[18px]">
            საქართველოს მორაგბეთა ნაკრები „რაგბი ევროპის“ გამარჯვებულია
          </div>
        </div>
      </div>
    </div>
    <div class="card card--large">
      <img src="assets/images/Photo-3.webp" alt="card img" />
      <div class="card--large__texts">
        ჩრდილოეთ კორეამ აშშ-სა და სამხრეთ კორეის წინააღმდეგ იმიტირებული ბირთვული
        კონტრშეტევა დაიწყო
      </div>
      <div class="card__footer">
        <span class="text-color-red-primary text-[13px] font-medium"
          >ახალი ამბები</span
        >
        <span class="text-color-gray-dark text-[12px] sm:text-[13px]"
          >18.04.2023</span
        >
      </div>
    </div>
    <div class="flex flex-col">
      <div class="card">
        <img src="assets/images/Photo-2.webp" alt="card img" />
        <div class="card__texts">
          <div class="flex mb-[8px]">
            <span class="text-[12px] text-color-gray-dark">პოლიტიკა</span>
            <span
              class="text-color-gray-dark text-[12px] ml-[10px] before:content-['\00B7'] before:mr-[6px] before:text-color-gray-dark before:font-bold"
            >
              18.04.2023
            </span>
          </div>
          <div class="font-medium text-[13px] leading-[18px]">
            დღეს კიბოს სკრინინგის მხარდასაჭერი კონცერტი გაიმართება
          </div>
        </div>
      </div>
      <div class="card">
        <img src="assets/images/Photo-1.webp" alt="card img" />
        <div class="card__texts">
          <div class="flex mb-[8px]">
            <span class="text-[12px] text-color-gray-dark">პოლიტიკა</span>
            <span
              class="text-color-gray-dark text-[12px] ml-[10px] before:content-['\00B7'] before:mr-[6px] before:text-color-gray-dark before:font-bold"
            >
              18.04.2023
            </span>
          </div>
          <div class="font-medium text-[13px] leading-[18px]">
            უკრაინას დიდი კონტრშეტევისთვის მხოლოდ ერთი მცდელობა ექნება
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
