<div class="custom-container mt-[48px] md:p-[0]">
  <div class="swiper rounded-[12px] overflow-hidden md:rounded-[0]">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="relative h-[560px] xl-up:h-[700px] 2xl-up:h-[760px] md:h-auto overflow-hidden"
        >
          <img
            src="assets/images/slide-1.webp"
            alt="slide img"
            class="w-[100%] h-[100%] object-cover sm:min-h-[280px]"
          />

          <div
            class="absolute bottom-[24px] left-[24px] bg-white rounded-[10px] z-10 px-[24px] pt-[29px] pb-[90px] shadow-[0px 2px 40px rgba(0, 0, 0, 0.08)] 2xl-up:max-w-[600px] max-w-[calc(100%_-_48px)] w-[100%] xl:pb-[24px] md:relative md:rounded-[0] md:w-[100%] md:bottom-[0] md:left-[0] md:max-w-none sm:p-[16px]"
          >
            <div class="flex">
              <span class="text-[13px] text-color-red-primary font-semibold"
                >პოლიტიკა</span
              >
              <span
                class="text-color-gray-dark text-[13px] ml-[10px] before:content-['\00B7'] before:mr-[6px] before:text-color-gray-dark before:font-bold"
              >
                18.04.2022
              </span>
            </div>
            <div
              class="text-[24px] font-semibold leading-[40px] mt-[12px] md:text-[16px] md:leading-[24px]"
            >
              ქვემო ქართლის რეგიონში 20 მლნ ლარამდე ღირებულების სამელიორაციო
              ინფრასტრუქტურული პროექტები დაიწყება
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="relative h-[560px] xl-up:h-[700px] 2xl-up:h-[760px] md:h-auto overflow-hidden"
        >
          <img
            src="assets/images/slide-2.webp"
            alt="slide img"
            class="w-[100%] h-[100%] object-cover sm:min-h-[280px]"
          />

          <div
            class="absolute bottom-[24px] left-[24px] bg-white rounded-[10px] z-10 px-[24px] pt-[29px] pb-[90px] shadow-[0px 2px 40px rgba(0, 0, 0, 0.08)] 2xl-up:max-w-[600px] max-w-[calc(100%_-_48px)] w-[100%] xl:pb-[24px] md:relative md:rounded-[0] md:w-[100%] md:bottom-[0] md:left-[0] md:max-w-none sm:p-[16px]"
          >
            <div class="flex">
              <span class="text-[13px] text-color-red-primary font-semibold"
                >პოლიტიკა</span
              >
              <span
                class="text-color-gray-dark text-[13px] ml-[10px] before:content-['\00B7'] before:mr-[6px] before:text-color-gray-dark before:font-bold"
              >
                18.04.2022
              </span>
            </div>
            <div
              class="text-[24px] font-semibold leading-[40px] mt-[12px] md:text-[16px] md:leading-[24px]"
            >
              ქვემო ქართლის რეგიონში 20 მლნ ლარამდე ღირებულების სამელიორაციო
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="relative h-[560px] xl-up:h-[700px] 2xl-up:h-[760px] md:h-auto overflow-hidden"
        >
          <img
            src="assets/images/slide-3.webp"
            alt="slide img"
            class="w-[100%] h-[100%] object-cover sm:min-h-[280px]"
          />
          <div
            class="absolute bottom-[24px] left-[24px] bg-white rounded-[10px] z-10 px-[24px] pt-[29px] pb-[90px] shadow-[0px 2px 40px rgba(0, 0, 0, 0.08)] 2xl-up:max-w-[600px] max-w-[calc(100%_-_48px)] xl:pb-[24px] w-[100%] md:relative md:rounded-[0] md:w-[100%] md:bottom-[0] md:left-[0] md:max-w-none sm:p-[16px]"
          >
            <div class="flex">
              <span class="text-[13px] text-color-red-primary font-semibold"
                >პოლიტიკა</span
              >
              <span
                class="text-color-gray-dark text-[13px] ml-[10px] before:content-['\00B7'] before:mr-[6px] before:text-color-gray-dark before:font-bold"
              >
                18.04.2022
              </span>
            </div>
            <div
              class="text-[24px] font-semibold leading-[40px] mt-[12px] md:text-[16px] md:leading-[24px]"
            >
              სტუდენტების მღელვარება დაჰბრალდა ვითომ ანათლების მინისტრს?! - იაგო
              ხვიჩია ჩხენკელზე
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="relative h-[560px] xl-up:h-[700px] 2xl-up:h-[760px] md:h-auto overflow-hidden"
        >
          <img
            src="assets/images/slide-4.webp"
            alt="slide img"
            class="w-[100%] h-[100%] object-cover sm:min-h-[280px]"
          />

          <div
            class="absolute bottom-[24px] left-[24px] bg-white rounded-[10px] z-10 px-[24px] pt-[29px] pb-[90px] shadow-[0px 2px 40px rgba(0, 0, 0, 0.08)] 2xl-up:max-w-[600px] max-w-[calc(100%_-_48px)] w-[100%] xl:pb-[24px] md:relative md:rounded-[0] md:w-[100%] md:bottom-[0] md:left-[0] md:max-w-none sm:p-[16px]"
          >
            <div class="flex">
              <span class="text-[13px] text-color-red-primary font-semibold"
                >პოლიტიკა</span
              >
              <span
                class="text-color-gray-dark text-[13px] ml-[10px] before:content-['\00B7'] before:mr-[6px] before:text-color-gray-dark before:font-bold"
              >
                18.04.2022
              </span>
            </div>
            <div
              class="text-[24px] font-semibold leading-[40px] mt-[12px] md:text-[16px] md:leading-[24px]"
            >
              „ნორვეგიას ჰოლანდი ჰყავს, ჩვენ კი გურამ კაშია“ - ვილი სანიოლის
              პრესკონფერენცია
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="absolute xl-up:left-[48px] xl-up:bottom-[48px] xl-up:top-auto bg-transparent left-[16px] top-[124px] xs-up:top-[27vw] w-[calc(100%_-_32px)] sm-up:w-auto sm-up:bottom-auto sm-up:top-[24px] sm-up:left-[24px] z-10 flex items-center sm-up:bg-color-gray-light rounded-[8px] justify-between sm-up:px-[6px] sm-up:h-[48px] xl-up:h-auto xl-up:min-w-[113px]"
    >
      <span
        class="prev-slide mr-[7px] before:content-['\276E'] before:text-color-gray-dark cursor-pointer p-[8px] xl:bg-white xl:rounded-[8px] xl:min-w-[32px] text-center xl:pt-[5px] xl:mr-[16px] xl:flex xl:items-center xl:justify-center xl:before:h-[20px]"
      >
      </span>
      <span class="slide-number text-[16px] font-semibold sm:hidden"></span>
      <span class="sm:hidden">/</span>
      <span class="total-slides text-[16px] font-semibold sm:hidden"></span>
      <span
        class="next-slide ml-[7px] before:content-['\276F'] before:text-color-gray-dark cursor-pointer p-[8px] xl:bg-white xl:rounded-[8px] xl:min-w-[32px] text-center xl:pt-[5px] xl:ml-[16px] xl:flex xl:items-center xl:justify-center xl:before:h-[20px] h-auto"
      >
      </span>
    </div>
  </div>
</div>
